.custom-cnt{
    background: url("../img/sushibackground.jpg");
    padding-top: 20px;
    background-size: cover;
    height: 100%;
    padding-bottom: 20px;
}
.custom-img{
    height: 10rem;
    width: 15rem;
    border-radius: 30px;
}
.custom-cart{
    background-color:transparent;
    color: white;
    transform: scale(3);

}
.backward{
    height: 2rem;
    transform: rotateY(180deg);

}
.trash-can{
    color: #0dcaf0;
}
